html, body {
	height: 100%;
}

textarea:focus,
textarea:focus, 
input:focus {
	outline: none;
    box-shadow:none !important;
}

/* Theme Switch */
.theme-switch {
	z-index: 99999;
	border-radius: 35%;
	color: var(--bs-emphasis-color);
	background-color: var(--bs-secondary-bg-subtle);
}

/* Dropdown */
.dropdown-scroll {
	max-height: 145px;
	overflow-y: scroll;
}

.btn-text:hover,
.btn-text:active,
.btn-text:focus {
	color: var(--bs-body-color) !important;
	background-color: transparent !important;
	border-color: transparent !important;
	cursor: normal !important;
}